.favorites-list{
  display: inline-block;
  position: inherit;
  /* text-align: center; */
  border: solid;
  /* display: flex;
  flex-direction: row; */
  /* flex: 1; */
  align-items: flex-start;
  height: 50%;
  overflow: auto;
  /* make it scrollable */
}
