#home{
  display: grid;
  grid-template-columns: 30% 38% 30%;
  /* grid-template-rows: repeat(3, 100%); */
  grid-gap: 1em;
  margin-left: 3em;
  margin-right: 3em;
}


header, footer {
  grid-column: 1 / 4;
}
